/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.headingshoes {
    text-align: center;
    background-color: black;
    color: white;
    padding: 15px;
}
.footercol {
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
}

.product-image img {
    width: 100%;
    height: auto;
}

.product-details {
    padding: 20px;
}

button.add-to-cart {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.add-to-cart:hover {
    background-color: #0056b3;
}
